In [1]:
# import all the things!
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import os
from sklearn.linear_model import Ridge
from sklearn.grid_search import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.cross_validation import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
data = pd.read_csv('../titanic.csv')

In [3]:
data.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [61]:
# want to pull out a single passengers name
data[data['Name'] ==  'Carter, William']

Empty DataFrame
Columns: [index, PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [65]:
data[data['Name'].str.contains('Carter')]

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
249,249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.0,1,0,244252,26.0,NaN,S
390,390,391,1,1,"Carter, Mr. William Ernest",male,36.0,1,2,113760,120.0,B96 B98,S
435,435,436,1,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0,B96 B98,S
763,763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.0,1,2,113760,120.0,B96 B98,S
802,802,803,1,1,"Carter, Master. William Thornton II",male,11.0,1,2,113760,120.0,B96 B98,S
854,854,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0,NaN,S

In [5]:
data.describe()

/Users/Driz/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,index,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,445.000000,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,0.000000,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,222.500000,223.500000,0.000000,2.000000,NaN,0.000000,0.000000,7.910400
50%,445.000000,446.000000,0.000000,3.000000,NaN,0.000000,0.000000,14.454200
75%,667.500000,668.500000,1.000000,3.000000,NaN,1.000000,0.000000,31.000000
max,890.000000,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# above shows that I have a total of 891 rows
# age is the only column with missing data

In [7]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

from sqlalchemy import create_engine
engine = create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/titanic')

df = pd.read_sql('SELECT * FROM train', engine)

In [8]:
df.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [9]:
# find best set of columns to explain your data
from sklearn.feature_selection import SelectKBest

In [10]:
kbest = SelectKBest(k=5)
kbest

SelectKBest(k=5, score_func=<function f_classif at 0x1176125f0>)

In [11]:
y = df['Survived']
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [ ]:
pclass-dummy
age- good to go
emabrked
sibsp

In [12]:
# keep only two columns from pclass otherwise you cant predict anything worth a damn
pclass_dummies = pd.get_dummies(df['Pclass'])
pclass_dummies = pclass_dummies[[1,2]]
pclass_dummies.columns = ['pclass=1', 'pclass=2']
pclass_dummies.head()

   pclass=1  pclass=2
0       0.0       0.0
1       1.0       0.0
2       0.0       0.0
3       1.0       0.0
4       0.0       0.0

In [14]:
male = df['Sex'].apply(lambda x: 1 if x == 'male' else 0)
male.head()

0    1
1    0
2    0
3    0
4    1
Name: Sex, dtype: int64

In [24]:
embarked_dummies = pd.get_dummies(df['Embarked'], prefix='embarked')
embarked_dummies = embarked_dummies[['embarked_C', 'embarked_Q']]
embarked_dummies.head()

   embarked_C  embarked_Q
0         0.0         0.0
1         1.0         0.0
2         0.0         0.0
3         0.0         0.0
4         0.0         0.0

In [34]:
analytic_df = pclass_dummies.join(male)
analytic_df = analytic_df.join(df[['Age', 'SibSp', 'Parch']])
analytic_df = analytic_df.join(embarked_dummies)
analytic_df['Child'] = analytic_df['Age'].apply(lambda x: 1 if x < 12 else 0)
analytic_df['Old Person'] = analytic_df['Age'].apply(lambda x: 1 if x > 50 else 0)
analytic_df.head()

,pclass=1,pclass=2,Sex,Age,SibSp,Parch,embarked_C,embarked_Q,Child,Old Person
0,0.0,0.0,1,22.0,1,0,0.0,0.0,0,0
1,1.0,0.0,0,38.0,1,0,1.0,0.0,0,0
2,0.0,0.0,0,26.0,0,0,0.0,0.0,0,0
3,1.0,0.0,0,35.0,1,0,0.0,0.0,0,0
4,0.0,0.0,1,35.0,0,0,0.0,0.0,0,0

In [35]:
print analytic_df.shape
analytic_df.dropna(inplace=True)
print analytic_df.shape

(891, 10)
(714, 10)

In [46]:
drop_y = analytic_df.join(y, how='left')
print drop_y.head()
print drop_y.shape
y = analytic_df['Survived']
print y.shape, analytic_df.shape

   pclass=1  pclass=2  Sex   Age  SibSp  Parch  embarked_C  embarked_Q  Child  \
0       0.0       0.0    1  22.0      1      0         0.0         0.0      0
1       1.0       0.0    0  38.0      1      0         1.0         0.0      0
2       0.0       0.0    0  26.0      0      0         0.0         0.0      0
3       1.0       0.0    0  35.0      1      0         0.0         0.0      0
4       0.0       0.0    1  35.0      0      0         0.0         0.0      0

   Old Person  Survived
0           0         0
1           0         1
2           0         1
3           0         1
4           0         0
(714, 11)

KeyError: 'Survived'

In [42]:
kbest5 = kbest.fit_transform(analytic_df, y)
kbest5

ValueError: Found arrays with inconsistent numbers of samples: [714 891]

In [44]:
kbest.scores_

AttributeError: 'SelectKBest' object has no attribute 'scores_'

In [57]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import KFold

logistic_regression_factory = LogisticRegression()

rfe_factory = RFE(estimator=logistic_regression_factory, step=1,)

In [58]:
results_of_rfe = rfe_factory.fit_transform(analytic_df, y)

ValueError: Found arrays with inconsistent numbers of samples: [714 891]