In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('../downloads/the-simpsons-by-the-data.csv')

IOError: File ../downloads/the-simpsons-by-the-data.csv does not exist

In [8]:
df_1 = pd.read_csv('datasets_csv/simpsons_episodes.csv')
df_2 = pd.read_csv('datasets_csv/simpsons_locations.csv')
df_3 = pd.read_csv('datasets_csv/simpsons_script_lines.csv')

CParserError: Error tokenizing data. C error: Expected 13 fields in line 8084, saw 20

In [3]:
df_1 = pd.read_csv('datasets_csv/simpsons_episodes.csv')

In [4]:
df_1.head(1)

,id,title,original_air_date,production_code,season,number_in_season,number_in_series,us_viewers_in_millions,views,imdb_rating,imdb_votes,image_url,video_url
0,10,Homer's Night Out,1990-03-25,7G10,1,10,10,30.3,50816.0,7.4,1511.0,http://static-media.fxx.com/img/FX_Networks_-_...,http://www.simpsonsworld.com/video/275197507879

In [5]:
import pandas as pd
df_3 = pd.read_csv('datasets_csv/simpsons_script_lines.csv', error_bad_lines=False)

Skipping line 8084: expected 13 fields, saw 20
Skipping line 52607: expected 13 fields, saw 21
Skipping line 59910: expected 13 fields, saw 21

Skipping line 71801: expected 13 fields, saw 20
Skipping line 73539: expected 13 fields, saw 21
Skipping line 77230: expected 13 fields, saw 21
Skipping line 78953: expected 13 fields, saw 21
Skipping line 81138: expected 13 fields, saw 20
Skipping line 86746: expected 13 fields, saw 22
Skipping line 101154: expected 13 fields, saw 21
Skipping line 115438: expected 13 fields, saw 20
Skipping line 117573: expected 13 fields, saw 22
Skipping line 130610: expected 13 fields, saw 22

Skipping line 152970: expected 13 fields, saw 22
Skipping line 153017: expected 13 fields, saw 20
Skipping line 153018: expected 13 fields, saw 30
Skipping line 154080: expected 13 fields, saw 20
Skipping line 154082: expected 13 fields, saw 20
Skipping line 154084: expected 13 fields, saw 20
Skipping line 154086: expected 13 fields, saw 20
Skipping line 154089: expected 13 fields, saw 23
Skipping line 154165: expected 13 fields, saw 21
Skipping line 156872: expected 13 fields, saw 20

/Users/Driz/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
import csv

counter = 0

with open('datasets_csv/simpsons_script_lines.csv') as infile:
    reader = csv.reader(infile)
    for row in reader:
        counter += 1
        if (counter == 8084):
            print row
            print '\n'
            
            print 'row is %s long \n' % len(row)
            for column in row:
                print column
                print '\n'
        elif counter > 8084:
            break
        else:
            pass

['17667', '59', '87', 'Singers: (SINGING) "IT\'S THE FIRST ANNUAL MONTGOMERY BURNS/ AWARD FOR --', '442000', 'true', '276', '636', 'Singers', 'Springfield Civic Center', "IT'S THE FIRST ANNUAL MONTGOMERY BURNS/ AWARD FOR --,its the first annual montgomery burns award for --,9\n17668,59,88,Men Singers: (SINGING) OUTSTANDING ACHIEVEMENT IN -,450000,true,826,636,Men Singers,Springfield Civic Center,OUTSTANDING ACHIEVEMENT IN -,outstanding achievement in -,4\n17669,59,89,Female Singers: (SINGING) THE FIELD OF --,454000,true,827,636,Female Singers,Springfield Civic Center,THE FIELD OF --,the field of --,4\n17670,59,90,Singers: (SINGING) EXCELLENCE!", '455000', 'true', '276', '636', 'Singers', 'Springfield Civic Center', 'EXCELLENCE!"', 'excellence', '1']


row is 20 long

17667


59


87


Singers: (SINGING) "IT'S THE FIRST ANNUAL MONTGOMERY BURNS/ AWARD FOR --


442000


true


276


636


Singers


Springfield Civic Center


IT'S THE FIRST ANNUAL MONTGOMERY BURNS/ AWARD FOR --,its the first annual montgomery burns award for --,9
17668,59,88,Men Singers: (SINGING) OUTSTANDING ACHIEVEMENT IN -,450000,true,826,636,Men Singers,Springfield Civic Center,OUTSTANDING ACHIEVEMENT IN -,outstanding achievement in -,4
17669,59,89,Female Singers: (SINGING) THE FIELD OF --,454000,true,827,636,Female Singers,Springfield Civic Center,THE FIELD OF --,the field of --,4
17670,59,90,Singers: (SINGING) EXCELLENCE!


455000


true


276


636


Singers


Springfield Civic Center


EXCELLENCE!"


excellence


1

In [7]:
df_3.columns

Index([u'id', u'episode_id', u'number', u'raw_text', u'timestamp_in_ms',
       u'speaking_line', u'character_id', u'location_id',
       u'raw_character_text', u'raw_location_text', u'spoken_words',
       u'normalized_text', u'word_count'],
      dtype='object')

In [8]:
import numpy as np
np.__version__

'1.11.1'

In [9]:
df_3.head()

,id,episode_id,number,raw_text,timestamp_in_ms,speaking_line,character_id,location_id,raw_character_text,raw_location_text,spoken_words,normalized_text,word_count
0,9549,32,209,"Miss Hoover: No, actually, it was a little of ...",848000,True,464,3.0,Miss Hoover,Springfield Elementary School,"No, actually, it was a little of both. Sometim...",no actually it was a little of both sometimes ...,31.0
1,9550,32,210,Lisa Simpson: (NEAR TEARS) Where's Mr. Bergstrom?,856000,True,9,3.0,Lisa Simpson,Springfield Elementary School,Where's Mr. Bergstrom?,wheres mr bergstrom,3.0
2,9551,32,211,Miss Hoover: I don't know. Although I'd sure l...,856000,True,464,3.0,Miss Hoover,Springfield Elementary School,I don't know. Although I'd sure like to talk t...,i dont know although id sure like to talk to h...,22.0
3,9552,32,212,Lisa Simpson: That life is worth living.,864000,True,9,3.0,Lisa Simpson,Springfield Elementary School,That life is worth living.,that life is worth living,5.0
4,9553,32,213,Edna Krabappel-Flanders: The polls will be ope...,864000,True,40,3.0,Edna Krabappel-Flanders,Springfield Elementary School,The polls will be open from now until the end ...,the polls will be open from now until the end ...,33.0

In [10]:
df_2 = pd.read_csv('datasets_csv/simpsons_locations.csv')

In [11]:
df_2.head(2)

   id    name normalized_name
0   1  Street          street
1   2     Car             car

In [12]:
df_3.describe()

/Users/Driz/anaconda2/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,id,episode_id,number,location_id,word_count
count,158248.000000,158248.000000,158248.000000,157841.000000,132089.000000
mean,79166.825521,278.465453,141.523084,846.336142,9.887175
std,45697.771675,163.412851,83.816881,1206.870862,8.055425
min,1.000000,1.000000,0.000000,1.000000,0.000000
25%,39592.750000,138.000000,70.000000,NaN,NaN
50%,79160.500000,274.000000,140.000000,NaN,NaN
75%,118741.250000,418.000000,210.000000,NaN,NaN
max,158315.000000,568.000000,394.000000,4459.000000,122.000000

In [14]:
df_3['character_id'].unique

<bound method Series.unique of 0         464
1           9
2         464
3           9
4          40
5          38
6          40
7           8
8         NaN
9           9
10        469
11          9
12        469
13          9
14        469
15          9
16        NaN
17          8
18        101
19          8
20        467
21          8
22         25
23          8
24          8
25         25
26          8
27          8
28         53
29        NaN
         ...
158218    465
158219      2
158220    NaN
158221      9
158222      1
158223      9
158224      1
158225      9
158226      1
158227      9
158228      1
158229      9
158230      1
158231      9
158232      1
158233      9
158234      1
158235      9
158236      1
158237      9
158238      1
158239      9
158240    NaN
158241      9
158242    464
158243    464
158244    464
158245    464
158246    119
158247      4
Name: character_id, dtype: object>

In [15]:
df_3['character_id'].value_counts()

2.0       24712
1.0       11511
8.0       11271
9.0        9732
2          5393
1          2752
8          2697
15.0       2577
17.0       2385
3.0        2091
9          1907
11.0       1868
71.0       1657
25.0       1580
139.0      1553
31.0       1485
101.0      1048
165.0       959
208.0       894
14.0        822
211.0       792
170.0       727
40.0        653
15          630
332.0       597
18.0        521
22.0        512
153.0       489
404.0       486
17          478
          ...
5688.0        1
5667.0        1
5676.0        1
3109.0        1
5668.0        1
3107.0        1
5670.0        1
3104.0        1
5673.0        1
3102.0        1
3101.0        1
3099.0        1
3097.0        1
3095.0        1
5675.0        1
5677.0        1
3075.0        1
3089.0        1
3088.0        1
5678.0        1
5679.0        1
5680.0        1
3084.0        1
5681.0        1
3082.0        1
5683.0        1
3079.0        1
3078.0        1
3077.0        1
6687          1
Name: character_id, dtype: int64

In [16]:
df_3.isnull().any()

id                    False
episode_id            False
number                False
raw_text              False
timestamp_in_ms       False
speaking_line         False
character_id           True
location_id            True
raw_character_text     True
raw_location_text      True
spoken_words           True
normalized_text        True
word_count             True
dtype: bool

In [17]:
df_3['character_id'].isnull().value_counts()

False    140727
True      17521
Name: character_id, dtype: int64

In [18]:
df_3['raw_character_text'].isnull().value_counts()

False    140726
True      17522
Name: raw_character_text, dtype: int64

Considering how much data I have ignoring the corrupt and null rows is not a big deal. For ease I am going to drop them from my dataset and move forward

In [19]:
df_3.head()

,id,episode_id,number,raw_text,timestamp_in_ms,speaking_line,character_id,location_id,raw_character_text,raw_location_text,spoken_words,normalized_text,word_count
0,9549,32,209,"Miss Hoover: No, actually, it was a little of ...",848000,True,464,3.0,Miss Hoover,Springfield Elementary School,"No, actually, it was a little of both. Sometim...",no actually it was a little of both sometimes ...,31.0
1,9550,32,210,Lisa Simpson: (NEAR TEARS) Where's Mr. Bergstrom?,856000,True,9,3.0,Lisa Simpson,Springfield Elementary School,Where's Mr. Bergstrom?,wheres mr bergstrom,3.0
2,9551,32,211,Miss Hoover: I don't know. Although I'd sure l...,856000,True,464,3.0,Miss Hoover,Springfield Elementary School,I don't know. Although I'd sure like to talk t...,i dont know although id sure like to talk to h...,22.0
3,9552,32,212,Lisa Simpson: That life is worth living.,864000,True,9,3.0,Lisa Simpson,Springfield Elementary School,That life is worth living.,that life is worth living,5.0
4,9553,32,213,Edna Krabappel-Flanders: The polls will be ope...,864000,True,40,3.0,Edna Krabappel-Flanders,Springfield Elementary School,The polls will be open from now until the end ...,the polls will be open from now until the end ...,33.0

In [20]:
df_4 = pd.read_csv('datasets_csv/simpsons_characters.csv')

In [21]:
df_4.head()

   id              name   normalized_name gender
0   7          Children          children    NaN
1  12  Mechanical Santa  mechanical santa    NaN
2  13        Tattoo Man        tattoo man    NaN
3  16  DOCTOR ZITSOFSKY  doctor zitsofsky    NaN
4  20          Students          students    NaN

In [22]:
df_4.describe()

                id
count  6722.000000
mean   3380.557572
std    1946.745178
min       1.000000
25%    1697.250000
50%    3380.500000
75%    5066.750000
max    6749.000000

In [27]:
df_4['gender'].isnull().value_counts()

True     6399
False     323
Name: gender, dtype: int64

In [ ]:
# need function to pull out name for null gender value

def no_gender():
    for i in gender:
        if gender == null

In [29]:
df_4['gender'].value_counts()

m    252
f     71
Name: gender, dtype: int64

In [30]:
len(df_4['gender'])

6722

In [31]:
# found another csv with the top 324 characters and genders (account for 86% of spoken dialogue). 
# will load new csv

In [32]:
df_5 = pd.read_csv('../Desktop/character_genders.csv')

In [33]:
df_5.head()

      normalized_name gender
0       homer simpson      m
1       marge simpson      f
2        bart simpson      m
3        lisa simpson      f
4  c montgomery burns      m

In [34]:
df_4.head(1)

   id      name normalized_name gender
0   7  Children        children    NaN

In [37]:
df_3.head(3)

,id,episode_id,number,raw_text,timestamp_in_ms,speaking_line,character_id,location_id,raw_character_text,raw_location_text,spoken_words,normalized_text,word_count
0,9549,32,209,"Miss Hoover: No, actually, it was a little of ...",848000,True,464,3.0,Miss Hoover,Springfield Elementary School,"No, actually, it was a little of both. Sometim...",no actually it was a little of both sometimes ...,31.0
1,9550,32,210,Lisa Simpson: (NEAR TEARS) Where's Mr. Bergstrom?,856000,True,9,3.0,Lisa Simpson,Springfield Elementary School,Where's Mr. Bergstrom?,wheres mr bergstrom,3.0
2,9551,32,211,Miss Hoover: I don't know. Although I'd sure l...,856000,True,464,3.0,Miss Hoover,Springfield Elementary School,I don't know. Although I'd sure like to talk t...,i dont know although id sure like to talk to h...,22.0

Looks like raw_character_text from df_3 and name from df_5 can be joined to give corresponding gender column.

In [38]:
len(df_4)

6722

In [39]:
len(df_5)

323

Data dictionary for the three data frames I will be using

In [44]:
print df_3.columns
print df_4.columns 
print df_5.columns

Index([u'id', u'episode_id', u'number', u'raw_text', u'timestamp_in_ms',
       u'speaking_line', u'character_id', u'location_id',
       u'raw_character_text', u'raw_location_text', u'spoken_words',
       u'normalized_text', u'word_count'],
      dtype='object')
Index([u'id', u'name', u'normalized_name', u'gender'], dtype='object')
Index([u'normalized_name', u'gender'], dtype='object')

In [ ]:
df_3 
id = data frame index
episode_id = unique identifier for each episode
number = ?
raw_text = characters name containing capitalization/punctuation with script lines containing capitalization/punctuation
timestamp_in_ms = time in milliseconds
speaking_line = denotes whether the character has a speaking role for this line of script
character_id = unique identifier for
location_id = unique identifier for various locations from show
raw_character_text = characters name containing capitalization/punctuation 
raw_location_text = location of scene during script containing capitalization/punctuation
spoken_words = script lines containing capitalization/punctuation
normalized_text = script lines stripped of capitalization/punctuation
word_count = number of words spoken in script line

df_4 
id = data frame index
name = characters formal name
normalized_name = characters name stripped of capitalization/punctuation
gender = character is either male/female

df_5
normalized_name = characters name stripped of capitalization/punctuation
gender = character is either male/female